  /* html {
       background-color: rgb(255, 255, 255);
       color: rgb(0, 0, 0);
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       scrollbar-width: none;
   }

   body {
       height: 260vh;
   }

   .title {
       text-align: center;
       font-size: 50px;
       color: rgb(114, 0, 0);

       margin-bottom: 2%;
   }

   .title2 {
       text-align: center;
       font-size: 30px;
       color: rgb(114, 0, 0);
       background: none;
       width: 250px;
       position: relative;
       left: 27%;
       border: none;


       cursor: pointer;
   }

   .title2:hover {
       color: #000;


   }

   .title3:hover {
       color: #000;


   }

   @media (max-width: 1400px) {
       .title2 {
           text-align: center;
           font-size: 30px;
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
           color: rgb(114, 0, 0);
           background: none;
           width: 250px;
           position: relative;
           left: 19%;
           border: none;
       }

       .box {
           width: 50px;
           height: 50px;
           left: 47%;
           top: 20vh;
       }

       .simon {
           width: 40px;
           height: 40px;
       }

   }

   .title3 {
       text-align: center;
       position: relative;
       left: 45%;
       top: -0vh;
       font-size: 30px;
       color: rgb(114, 0, 0);
       background: none;
       border: none;
       width: 300px;
       cursor: pointer;
   }

   .letter {
       display: inline-block;
       margin: -8px;
   }


   .box {
       width: 100px;
       height: 100px;
       background-color: rgb(114, 0, 0);
       border-radius: 50%;
       position: relative;
       left: 47%;
       top: 20vh;
   }

   .lcd {
       font-size: 24px;
       font-family: monospace;
   }

   .simon {
       position: relative;
       left: 10%;
       top: 10%;
       width: 80px;
       height: 80px;
       border-radius: 50%;
       filter: drop-shadow();

   }

   #ABOUTME {
       width: 40%;
   }

   .Aboutme {
       width: 50%;



   }

   #aboutme {
       position: relative;
       left: 14%;
       top: 7vh;
       font-size: 28px;
   }

   .des {
       width: 400px;
       height: 10vh;
   }

   .divabtm {
       width: 100%;

   }

   #prg {
       width: 160px;
       font-size: 16px;
       height: 10vh;
       position: relative;
       top: -3vh;
   }

   #temp {
       background-color: transparent;
       width: 100px;
       height: 100px;
       position: relative;
       left: 75%;
       top: -4vh;
   }

   #PROJ {
       width: 100%;

       font-size: 28px;
       position: relative;
       left: 80%;
       top: 10vh;
       margin: 0;
   }

   .prj {
       width: 220px;
       font-size: 28px;
       position: relative;
       left: 40%;
       top: -20vh;
   }

   .prj1 {
       width: 300px;
       position: relative;
       left: -5%;

   }

   #proj {

       position: relative;
       left: 15%;
       top: 3vh;

   }

   a {
       text-decoration: none;
       width: 100%;
       color: rgb(114, 0, 0);
   }

   .prjclass {
       width: 100%;

       position: relative;
       left: 50%;
       top: 10vh;
   }

   .leftside {

       width: 40%;
       position: relative;
       left: 50%;
   }

   .rightside {

       width: 40%;
       position: relative;

   }

   .scroll {
       margin-top: 30%;


   }



   .footer {
       background-color: black;
       width: 100%;
       position: fixed;
       left: 0;
       bottom: 0;
       height: 20vh;
   }



   .frams {
       color: #000;
       display: inline-block;
       font-size: 24px;
       position: relative;
       left: 25%;



   }

   .frm {
       margin-bottom: 10px;

   }

   #react {
       position: relative;
       left: 29.7%;
       top: -1.3vh;
   }

   #laravel {
       position: relative;
       left: 32.5%;
       top: 2vh;
       margin-left: -4%;
   }

   #bootstrap {
       position: relative;
       left: 30.3%;
       top: -2.2vh;
   }

   #html ,#css ,#js,#php,#msql {
       position: relative;
        left: 29vw !important;
       top: -2vh;
   }
   



   .Lang {
       color: #000;
       display: inline-block;
       padding: 2.1%;
       font-size: 24px;
       position: relative;
       left: 30vw !important;

   }

   .label {
       color: #791313;
       font-size: 34px;
       text-align: center;


   }

   .timer {
       color: #000;
   }



   .scroll-container {
       border-top: #000 solid 1px;
       width: 100%;
   }

   #scrolldown {
       width: 100%;
   }

   .rct {
       display: inline;
       position: relative;
       left: 2%;

   }

   .lng {
       display: inline-block;
       
        

   }

   .scrldwn {
       display: block;
       position: fixed;
       left: 0%;
       top: 72%;
       font-size: 24px;
       color: #ffffff;
       background-color: #791313;
       padding: 0.5% 2% 1% 0.5%;
       border-bottom: 2px solid #791313;
       border-radius: 0px 30px 0px 0px;
   }

   #line {
       width: 100%;
       height: 7px;

       background-color: #791313;
       position: fixed;
       top: 742.5px;
       z-index: 1;
   }

   .square {
       width: 20px;
       height: 20px;
       border-radius: 50%;
       background-color: #791313;
       position: absolute;
       cursor: grab;
   }

   .soundboard {
       position: absolute;
       display: block;
       justify-self: start;
       left: 35%;
       top: 70vh;
       width: 30%;
       height: 5vh;
       border-radius: 20px;
       background-color: rgb(196, 196, 196);


   }

   #controller {
       position: relative;
       left: 47%;
       top: -2.4vh;
       display: flex;

       align-items: center;
   }

   .bi {
       position: relative;
       left: 50%;
   }

   .bi-volume-mute-fill {
       position: relative;
       left: -6%;
       top: 0.6vh;
       font-size: 200%;
   }



   .ibraCONTACT {
       display: inline-block;
       position: relative;
       left: 30%;
       padding: 1%;
       font-size: 22px;
   }

   .ibraCONTACT a {
       color: #ffffff;

   }

   .form-container {
        display: flex;
        width: 100%;
        justify-content: start;
        align-items: start;
         padding: 1%;
         
         position: relative;
         left: 0vw;

   }
   .FORM{
    width: 15%;
   }
   .form- {
       display: grid;
   

   }

   input {
       background-color: #ffffff;
       border: #791313 4px solid;
       padding: 1%;
       border-radius: 0px;
       width: 100%;
   }

   textarea {
       resize: vertical;
       border: #791313 4px solid;
       width: 100%;
   }

   #submit {
       background-color: #000;
       color: #ffffff;
       border: none;
       padding: 3%;
       cursor: pointer;
       
   }

   */
  * {
      box-sizing: border-box;
       
  }


  html {
      display: block;
      background-color: #000000;
      font-family: sans-serif;
      color: #fff;
      height: 200vh;
     border: 0.1px #007914 solid;
     margin: 0;
  }


  body{

  }

  .box{
 background-color: #007914;
 position: relative;
 top:5vh;
 height: 15vh;
 left: -0.3%;
 border-radius: 0% 0% 100px ;
 display: inline-flex;
  }

  .simon{
border-radius: 50%;
border: #007914 4px solid;
 position: relative;



  }
  .title{
    position: relative;
    left: 6%;
    top: 3vh;

  }
.just{
    position: relative;
    top: 0vh;
    left: 0%;
    font-size: 20px;
    color: #bfe000;
}
  .letter{

  }

  .title2{
color: #fff;
background:none;
border: none;
font-size: 28px;
transition: 0ms;
  }
.title2:hover{
color: #bfe000;
}
  #aboutme{

  }

  .rightside{

  }

  .ABOUTME{

  }



  .des{
    display: flex;
width: 30%;
font-size: 24px;
position: absolute;
top: 30vh;
padding: 0% 2%;
  }


  .soundboard{
     border: 3px #007914 solid;
     display: inline-flex;
     position: relative;
     top: 20vh;
     justify-content: center;
    padding: 0%;
    width: 20%;
    left: 40%;
    border-radius: 50px
  }

   .bi-volume-up-fill {
    display: flex;
       position: relative;
       left: 50%;
       align-items: center;
       font-size: 200%;
   }
   .bi-volume-mute-fill {
    display: flex;
       position: relative;
       left: -50%;
        align-items: center;       
       font-size: 200%;
   }
  #controller{
     display: flex;
    background-color: #bfe000;
    width: 50px;
    height: 50px;
   
    
  }
  @media (max-width:360px) {
    .soundboard{
        width: 100px;
        height: 10px;
    }
    .square{
       
    }
      #controller{
      height: 20px;
      width: 20px;
      position: absolute;
      top: -5px;
      }
  }

  .square{
   display: flex;
   margin:  -2%;
    background-color: #bfe000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .scroll{

  }

  #scrolldown{
       
    
     position: relative;
     top: 100vh;
  }
.large.row{

}
.lng{
display: inline-flex;
justify-content: center;
align-items: baseline;
position: relative;
left: 33%
;
}

#JS,#PHP,#MSQL,#HTML,#CSS{

}

.l{
position: relative;
left: 50%;


}

#js, #php,#mysql,#html,#css{

}
.rct{
display: inline-flex;
justify-content: center;
align-items: baseline;
position: relative;
left: 36%
;
}
#LRVL{
position: relative;
left: 31%;

}
#laravel{
    top:2vh;
}
#RCT{
  position: relative;
left: 34%;  
}

#BOOT{
     position: relative;
left: 30%;  
}
.Lang{
    position: relative;
    top: 1.2vh;
}

.frm{
position: relative;
left: 50%;
}

#react,#laravel,#bootstrap{

}

.frams{
    position: relative;
    top: 1.2vh;
}

#prrr{
    display: flex;
    margin: 2%;
    height: 50px;
    position: absolute;
    top: -7vh;
    left: 40%;
    width: 200%;
}
  .FORM{
 display: inline-flex;
position: absolute;
top: 63vh;
 width: 30%;
 height: 60vh;
  }

  .form-container{
    display: flex;
    justify-content: center;
    

width: 100%;
  }

  .form-group{
display: grid;
 font-size: 24px;

width: 500px;
height: 10vh;
  }
label{
    font-size: 24px;
}
input{
     font-size: 24px;
     
}
  textarea{
    resize: none;
 font-size: 20px;
  }
  #submit{
    background-color: #007914;
    color: #fff;
    padding: 3%;
    border: none;
    margin-top: 4%;
     font-size: 24px;
     
  }

  .footer{
    width: 100%;
    position: fixed;
    bottom:0vh;
    display: inline-flex;
    background-color: #007914;
    margin-left: -10px;
  }

  a{
    display: inline-flex;
    text-decoration: none;
    color: #ffffff;
  }

li{
    list-style: none;
    display: inline-flex;
    font-size: 24px;
    padding: 2%;
}
#made{
    font-size: 24px;
    display: inline-flex;
    position: absolute;
    left: 85%;
}